---
import { Image } from 'astro:assets';
import logo from '@/assets/logo.png';
---

<footer class="mt-auto bg-timber border-t border-walnut">
  <div class="flex justify-center py-6">
    <Image
      src={logo}
      alt="Cardo Tisler"
      height={120}
      class="h-28 sm:h-32 w-auto opacity-90"
    />
  </div>
</footer>
