---
import { Image } from 'astro:assets';
import logo from '@/assets/logo-white.svg';
---

<footer class="mt-auto bg-timber border-t border-walnut">
  <div class="flex justify-center py-2">
    <Image
      src={logo}
      alt="Cardo Tisler"
      height={240}
      class="h-40 w-auto opacity-90"
    />
  </div>
</footer>
